<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <nav class='navbar navbar-default navbar-static-top'>
        <div class='container'>
            <ul class='nav navbar-nav'>
                <li><a class ='navbar-brand' href="{% url 'index' %}">DJANGO</a></li>
                <li><a class ='navbar-link' href="{% url 'admin:index' %}">ADMIN</a></li>
                <li><a class ='navbar-link' href="{% url 'basicapp:register'%}">REGISTER</a></li>

                {% if user.is_authenticated %}
                <li><a class='navbar-link' href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                <li><a class='navbar-link'href="{% url 'basicapp:user_login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>

    </nav>
    <div class='container'>
        {% block body_block %}
        {% endblock body_block %}
    </div>

</body>
</html>